<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-3">
          {% if site.github_username %}
              <a href="https://github.com/{{ site.github_username }}">
                <span class="icon-img">
                  <img src="{{ site.url }}/assets/icons/icon-github.svg" alt="Connect on GitHub"/>
                </span>
              </a>
          {% endif %}

          {% if site.twitter_username %}
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="icon-img">
                  <img src="{{ site.url }}/assets/icons/icon-twitter.svg" alt="Connect on Twitter"/>
                </span>
              </a>
          {% endif %}

          {% if site.linkedin_username %}
            <a href="https://se.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="icon-img">
                <img src="{{ site.url }}/assets/icons/icon-linkedin.svg" alt="Connect on Linkedin"/>
              </span>
            </a>
          {% endif %}  
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
