/*
Mussol Blog specific CSS attributes
*/

// Justify text in post contents
.post-content {
    text-align: justify;
    text-justify: inter-word;
}

// Color headers on Nephrits green
h1, h2, h3, h4, h5, h6 {
    color: #27ae60
}

// Color links on Emerald green, visited with turquoise

a {
    color: #2ecc71
}

a:visited {
    color: #1abc9c
}
