// typography.
$font-family: 'Dashicons', Helvetica, Arial, sans-serif;
$font-size: 18px;

// source code typography.
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$code-font-size: 0.85em;

// vertical margin.
$margin: 50px;

// brand color.
$brand-color: #27ae60;

// other major colors.
$site-title-color: rgba(#000, .6);
$page-title-color: $brand-color;
$background-color: #fff;
$border-color: rgba(#000, .1);

// typography colors.
$text-color: #555;
$link-color: darken($brand-color, 40%);
$blockquote-color: #777;

.post-content {
    text-align: justify;
    text-justify: inter-word;
}
