// typography.
$font-family: 'Dashicons', Helvetica, Arial, sans-serif;
$font-size: 18px;

// source code typography.
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$code-font-size: 0.85em;

// vertical margin.
$margin: 50px;

// brand color.
$brand-color: #1abc9c;

// other major colors.
$site-title-color: rgba(#000, .6);
$page-title-color: $brand-color;
$background-color: #fff;
$border-color: rgba(#000, .1);

// typography colors.
$text-color: #555;
$link-color: darken($brand-color, 40%);
$blockquote-color: #777;

// Justify text on posts
.post-content {
    text-align: justify;
    text-justify: inter-word;
}

// Share buttons style
.share-page {
    text-align: center;
    background: $brand-color;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}

.meta-tag {
    display: inline-block;
    background-color: #95a5a6;
    color: #2c3e50;
    padding: 5px 12px;
    border-radius: 3px;
    margin-left: 6px;
    margin-bottom: 6px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

img {
    border-radius: 3px;
}
